.container {
  display: flex;
  padding: var(--v-pad) var(--h-pad);
  justify-content: space-between;
  position: sticky;
  top: var(--header-height);
  background: var(--main-bg-color);
  z-index: var(--filter-panel-z);
}

.searchResults {
  color: var(--filter-panel-text-color);
}

.block {
  display: flex;
  align-items: center;
  gap: var(--v-pad);
}

.searchContainer {
  width: 320px;
}
