.container {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background: var(--input-bg);
  border: 0;
  border-radius: 4px;
  height: 32px;
  padding: 0 0 0 30px;

  &:focus {
    outline: 1px solid #006fff;
  }
}

.icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  svg {
    display: block;
  }
}
